Amazon_Reviews.json
{
  "name": "Amazon_Reviews",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Amazon Review Portal",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Product Review",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -896,
        -208
      ],
      "id": "d13790ab-5e31-4a99-b279-d80a175d427e",
      "name": "On form submission",
      "webhookId": "427cc524-6bef-4b27-b622-4bfa05cbfe5b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8",
          "mode": "list",
          "cachedResultName": "Sentiment Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Review": "={{ $json['Product Review'] }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        -64
      ],
      "id": "83f1e09f-64df-46b4-826a-0194d06c5872",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sm8R4xhh0u7Li53A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.Review }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        -208
      ],
      "id": "de39e8e5-7528-41fb-ae82-b1a44324b002",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Thank you for your feedback",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -256
      ],
      "id": "cb418172-8eec-4588-a14b-dafe645eeca6",
      "name": "Send a message",
      "webhookId": "598674e3-af22-48ab-9ae4-f09c6df22f47",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "ghxYg4RMMplGSKtT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8",
          "mode": "list",
          "cachedResultName": "Sentiment Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "={{ $json.sentiment }}",
            "Submission Date": "={{ $('On form submission').item.json.submittedAt }}",
            "row_number": 0,
            "Email": "={{ $('On form submission').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        -48
      ],
      "id": "05406cca-116b-4884-b8aa-817fa69c3200",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sm8R4xhh0u7Li53A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Name: {{ $('On form submission').item.json.Name }}\nProduct Review: {{ $('On form submission').item.json['Product Review'] }}\nSentiment : {{ $('HTTP Request').item.json.sentiment }}",
        "options": {
          "systemMessage": "=You are a professional customer support assistant\nIf the sentiment is Positive: Thank the customer warmly, show appreciation,encourage them to shop again.\nIf the sentiment is Negative: Apologize politely, show empathy, offer help or a solution.\nKeep the response short (2–3 sentences). Be professional and friendly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        -224
      ],
      "id": "7a5dedca-0133-47e9-acb8-9505c15fdb30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "b4d3b601-b9a3-4dd6-8b28-5be54a4ada0b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ZjQDwqvD7TRCBjcW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now.toMillis() }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -32
      ],
      "id": "9ebeab89-0bbf-4ca3-a5e2-728586082d87",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8",
          "mode": "list",
          "cachedResultName": "Sentiment Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gyVmfQ_KUMxqA5cMREmcXumf2Vqmr5QFXOddHyr2Xq8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('On form submission').item.json.Email }}",
            "AI Response": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -48
      ],
      "id": "86695542-6b37-4b02-8dff-f22169fcf48f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sm8R4xhh0u7Li53A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "257ac3dd-7d76-4c46-997d-d20ab01e4f9d",
              "leftValue": "={{ $('HTTP Request').item.json.sentiment }}",
              "rightValue": "Negative",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -112
      ],
      "id": "611acd51-431b-4fe8-90b9-3f3f00f04cb4",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "6219789935",
        "text": "=🚨 NEGATIVE REVIEW ALERT\n\nProduct/Content: {{ $('On form submission').item.json['Product Review'] }}\n\nSentiment Score:{{ $('HTTP Request').item.json.sentiment }}  🚩\n\n\nAction Required: High priority follow-up needed for user: {{ $('On form submission').item.json.Name }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -176
      ],
      "id": "afa4ad15-0cbe-4b68-a2bd-d30f6f811ed1",
      "name": "Send a text message",
      "webhookId": "0b75b4b4-bae3-4756-9aad-f583b45bd7b3",
      "credentials": {
        "telegramApi": {
          "id": "Cdmf7ovWuz4Nid1W",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "823dc722-c0d3-47b1-84c0-0f914e1a6b31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48d46c614b914bab99394e1880f5f7559f97d66d3a9add7afab8eb65907ea6d3"
  },
  "id": "ahFWQswgGXSJPeAr",
  "tags": []
}